/* Enlaces de importación (fuente e íconos) */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");



/* Código generales */


* { /* Reset */

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #fbfbfb;
    font-family: 'Lato', sans-serif;
}

p{
    font-size: 18px;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #0f0f0f;
}

ul { /* Para quitar los puntos a los items de listas */
    list-style: none;
}


a { /* Para que los enlaces hereden el color de texto y no tengan subrayado */
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}


/*codigos especificos*/


/*encabezado*/

header { 
    height: 90px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3); 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

nav {
    margin-left: 20px;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fbfbfb;
}

.menu-nav {
    float: left;
    border-right: 1px solid #fbfbfb;
}

.menu-nav a {
    display: block;
    color: #000;
    text-align: center;
    padding: 2vh 2vw;
    text-decoration: none;
    font-size: 20px;
}

.menu-nav:hover {
    background-color: #af599e;
}

  

    
/*cuerpo*/

main { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
    max-width: 1000px;
}



            /*primera sección*/
#inicio{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.figure{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img_1 {
    width: 70%;
    max-width: 400px;
    border-radius: 50%;
}

#cv { /* boton hoja de vida*/
    border-style: hidden;
    background-color: #af599e;
    border-radius: 50px;
    margin: 20px 0px 20px 0px;
    padding: 3vh 4vw;
    font-size: 20px;
    color: #fbfbfb;
}


            /*segunda sección*/

#contacto{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

.p_contacto {
    border-style: hidden;
    background-color: rgba(175, 89, 158, 0.3);
    border-radius: 15px;
    margin: 2vh 2vw;
    padding: 4vh 6vw;
}

.excepcion { /*excepcion al margen en los emojis*/
    margin-bottom: 0;
}


.foto_contacto { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}


.img_contacto {
    width:70%;
    max-width: 100px;
}


            /*pie de pagina*/
footer { 
    background-color: #af599e;
    height: 90px;
    width: 100%;
    font-size: 20px;
    color: #fbfbfb;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}

footer p {
    color: #fbfbfb;
}
